.cabecera{
    position: relative;
    flex: 1;
    margin: 0 auto;
    border: 1px black solid;
}

.detalle{
    display: flex;
}

.texto-detalle{
    display: block;
    padding: 5px;
}

.logo{
    margin: 3px;
    border: 1px solid black;
}
